// Reset Css 

@import './reset.scss';

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$brand-color: #FB8122;
$light-brand-color:#fb8022c7;
$main-dark:#333;
$dark:#222;
$grey:#b5b5b9;
$light:#f5f5f5;
$wrapper-width:1650px;

// Swiper 

@import './swiper.scss';

* {
    font-family: Inter Tight,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif !important;
    color: $main-dark;
    fill: #fff;
    box-sizing: border-box;
}

.active-link {
    font-weight: 500;
    color: $brand-color
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__top {
        width: 100%;
        height: 100vh;
        max-height: 40px;
        background-color: $main-dark;


        .location,
        .tel {
            display: flex;
            align-items: center;
            gap: 4px;
            font-weight: bold;
            color: #fff;
        }
    }

    .header__center {
        width: 100%;
        height: 100px;


        .logo-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 800;
            font-size: 2rem;
            color: $brand-color;

            // text-transform: uppercase;
            .slogan {
                color: $main-dark;
                font-size: 0.8rem;
            }
        }

        .cat-btn {
            margin-left: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: $brand-color;
            padding: 10px 25px;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: transform .13s ease;

            &:active {
                transform: translateY(2px);
            }
        }

        .finder {
            width: 100%;
            height: 100%;
            max-height: 44px;
            margin-left: 1.25rem;
            margin-right: auto;


            * {
                fill: $brand-color;
            }
        }

        nav {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 220px;
            justify-content: space-around;

            .nav-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 2px;
                transition: color .13s ease, fill .13s ease, transform .13s ease;
                font-size: .75rem;

                &:active {
                    transform: translateY(2px);
                }

                &:hover {
                    color: $brand-color;

                    * {
                        fill: $brand-color;
                    }
                }

                * {
                    fill: $dark;
                }
            }
        }
    }

    .header__bottom {
        height: 40px;
        box-shadow: 0px 4px 8px 0px #f6f6f6;

    }
}

.finder {
    min-width: 600px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #b5b5b9;
    outline: none;
    border-radius: 0.4rem;
    border: 1px solid #dfdee2;
    transition: border-color .13s ease;
    padding: 2px;

    &:hover {
        border-color: $brand-color;
    }



    input,
    button {
        border: none;
    }

    input {
        padding: 1.2rem 1.6rem;
        height: 100%;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    button {
        cursor: pointer;
        background-color: $brand-color;
        border-radius: 0.4rem;
        transition: transform .13s ease;

        &:active {
            transform: scale(0.95);
        }
    }

    * {
        height: 100%;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    .swiper-slide {

        font-size: 0.8rem;

        .cat-link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: $brand-color;
            }
        }
    }

    .swp-prev,
    .swp-next {
        position: absolute;
        cursor: pointer;
        z-index: 2;

        * {
            fill: $brand-color;
        }
    }

    .swp-prev {
        left: 0;
        top: 8px;
    }

    .swp-next {
        right: 0;
        top: 8px;
    }

    .swiper-button-disabled {
        * {
            fill: $light-brand-color;
        }
    }

    a {


        &:hover {
            color: rgb(131, 131, 131);

        }
    }
}


.breadcrumbs {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .875rem;
    vertical-align: center;

    .breadcrumb-link {
        transition: color .13s ease;
    }

    .breadcrumb-link:hover {
        color: $brand-color;
    }

    * {
        fill: $main-dark;
    }

    .chevron-right-icon,
    .home-icon {
        transform: translateY(1.5px);
        width: 20px !important;
        height: 20px !important;
    }
}

.title {
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}


.main {
    .main-page {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .breadcrumbs {}
    }

    .category {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .category-list {
            margin: 20px 0;
        }
    }

}

.category-list {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    .category-item {
        width: 100%;
        height: 100%;
        max-width: 23%;
        max-height: 430px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .625rem;
        cursor: pointer;
        transition: border-color .13s ease, transform .13s ease;
        box-shadow: 0 0 16px 4px #0000000d;

        &:hover {}

        &:active {
            transform: translateY(2px);
        }

        img {
            width: 100%;
        }

        .category-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: .75rem;
            text-align: center;
            margin: 20px 0;
        }
    }
}

.footer {
    width: 100%;
    min-height: 150px;
    margin-top: 80px;
    background-color: $main-dark;
    border-radius: 1.6rem 1.6rem 0 0;
    padding: 40px;

    .wrapper {
        flex-direction: column;
        align-items: start;
    }

    .top-footer {
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .logo-link {
            color: #fff;
            font-size: 2rem;
            font-weight: 800;
        }

        .rights-link {
            color: $grey;
            margin-left: auto;
            font-size: .6875rem;
            transition: color .13s ease;

            &:hover {
                color: #fff;
            }
        }
    }

    .bottom-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .cat-title {
            font-size: .75rem;
            line-height: 2rem;
            font-weight: 500;
            border-bottom: 1px solid $grey;
            transition: color .13s ease;
            color: $grey;

            &:hover {
                color: #fff;
            }
        }

        .active-link {
            border-color: $brand-color;
        }

        .cat-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;

            .cat-list-link {
                color: $grey;
                font-size: .75rem;
                transition: color .13s ease;

                &:hover {
                    color: #fff;
                }
            }


        }
    }

}


// Page Category.html

.category-page {
    .category-list {
        justify-content: space-between;
    }

    .category-item {
        width: 15%;
    }
}


// Page Category-products.html


.category-product-page {
    .products-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        row-gap: 20px;
        gap: 32px;

        .products-item {
            width: 15%;
            min-height: 410px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 5px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .product-link {
                position: relative;
            }

            .product-link:hover .products-title {
                color: $brand-color;
            }

            .product-link:hover .hidden-product-img {
                opacity: 1;
            }

            .product-img {
                width: 100%;
                max-width: 100%;
                object-fit: cover;
            }


            .hidden-product-img {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity .13s ease;
            }

            .products-title,
            .products-price,
            .products-lot {
                text-align: center;
            }

            .products-title {
                margin: 10px 0;
                line-height: 110%;
                font-size: .75rem;
                transition: color .13s ease;
            }

            .products-price {
                margin-top: auto;

                font-size: .875rem;
                font-weight: 600;
                color: $main-dark;
            }

            .products-lot {
                font-size: .6875rem;
            }

            .buy-btn {
                width: 100%;
                min-height: 40px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $light-brand-color;
                color: #fff;
                font-weight: 600;
                border: none;
                border-radius: 7px;
                cursor: pointer;
                transition: background-color .13s ease, transform .13s ease;

                &:hover {
                    background-color: $brand-color;
                }

                &:active {
                    transform: translateY(2px);
                }
            }
        }
    }

    .second-swiper {
        .swiper-scrollbar {
            .swiper-scrollbar-drag {
                background: $brand-color;
            }
        }
    }
}