@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$brand-color: #eb0100;
$light-brand-color:#eb000059;
$main-dark:#333;
$dark:#222;
$light:#f5f5f5;
$wrapper-width:1650px;

// Swiper 

@import './swiper.scss';

* {
    font-family: Inter Tight,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif !important;
    color: $main-dark;
    fill: #fff;
    box-sizing: border-box;
}



.wrapper {
    width: 100%;
    height: 100%;
    max-width: $wrapper-width;
    margin: 0 auto;
}

header {
    width: 100%;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__top {
        width: 100%;
        height: 100vh;
        max-height: 40px;
        background-color: $dark;


        .location,
        .tel {
            display: flex;
            align-items: center;
            gap: 4px;
            font-weight: bold;
            color: #fff;
        }
    }

    .header__center {
        width: 100%;
        height: 100px;


        .logo-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 800;
            font-size: 2rem;
            color: $brand-color;

            // text-transform: uppercase;
            .slogan {
                color: $main-dark;
                font-size: 0.8rem;
            }
        }

        .cat-btn {
            margin-left: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: $brand-color;
            padding: 10px 25px;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: transform .13s ease;

            &:active {
                transform: translateY(2px);
            }
        }

        .finder {
            width: 100%;
            height: 100%;
            max-height: 44px;
            margin-left: 1.25rem;
            margin-right: auto;
            background: #f2f2f2;

            input {
                background: #f2f2f2;

            }

            * {
                fill: $main-dark;
            }
        }

        nav {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 320px;
            justify-content: space-around;

            .nav-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 2px;
                transition: color .13s ease, fill .13s ease, transform .13s ease;
                font-size: .75rem;

                &:active {
                    transform: translateY(2px);
                }

                &:hover {
                    color: rgb(255, 0, 0);

                    * {
                        fill: rgb(255, 0, 0);
                    }
                }

                * {
                    fill: $dark;
                }
            }
        }
    }

    .header__bottom {
        height: 40px;
        box-shadow: 0px 4px 8px 0px #f6f6f6;

    }
}

.finder {
    min-width: 600px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #b5b5b9;
    outline: none;
    border-radius: 0.4rem;
    border: 1px solid #dfdee2;
    transition: border-color .13s ease;
    padding: 2px;

    &:hover {
        border-color: #8e8e93;
    }



    input,
    button {
        border: none;
    }

    input {
        padding: 1.2rem 1.6rem;
        height: 100%;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    button {
        cursor: pointer;
        background-color: $brand-color;
        border-radius: 0.4rem;
        transition: transform .13s ease;

        &:active {
            transform: scale(0.95);
        }
    }

    * {
        height: 100%;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    .swiper-slide {

        font-size: 0.8rem;

        .cat-link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .swp-prev,
    .swp-next {
        position: absolute;
        cursor: pointer;
        z-index: 2;

        * {
            fill: $brand-color;
        }
    }

    .swp-prev {
        left: 0;
        top: 8px;
    }

    .swp-next {
        right: 0;
        top: 8px;
    }

    .swiper-button-disabled {
        * {
            fill: #eb000073;
        }
    }

    a {


        &:hover {
            color: rgb(131, 131, 131);

        }
    }
}

.breadcrumbs {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .875rem;

    .chevron-right-icon,
    .home-icon {
        width: 20px !important;
        height: 20px !important;
    }
}

.title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}


.main {
    .main-page {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .breadcrumbs {


            * {
                fill: $main-dark;
            }
        }
    }

    .category {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .category-list {
            margin: 20px 0;
        }
    }
}

.category-list {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .category-item {
        width: 100%;
        height: 100%;
        max-width: 23%;
        max-height: 430px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .625rem;
        cursor: pointer;
        transition: border-color .13s ease, transform .13s ease;
        box-shadow: 0 0 16px 4px #eb01000d;

        &:hover {}

        &:active {
            transform: translateY(2px);
        }

        img {
            width: 100%;
        }

        .category-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: .75rem;
            text-align: center;
            margin: 20px 0;
        }
    }
}